.hero-container {
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5rem;
    padding: 5rem 0 2rem 0;
    position: relative;
}

.titles {
    flex: 1;
    width: 100%;
    align-self: center;
    font-family: 'Titillium Web', sans-serif;
}

.titles h2 {
    font-weight: 300;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.titles h4 {
    font-weight: 400;
    font-size: 38px;
    line-height: 73px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.name {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #7C1BDE 8.83%, rgba(232, 68, 225, 0.85) 65.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.typewriting {
    font-weight: 600;
    font-size: 45px;
    height: 60px;
    line-height: 50px;
    letter-spacing: 0.05em;
    background: linear-gradient(270deg, #A5FA50 0%, #65E7A1 53.5%, #1EEED5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.pictures {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
}

.cursor {
    font-size: 55px;
    font-weight: 600;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.laptop-lottie {
    position: absolute;
    align-self: center;
    height: 600px;
    width: 600px;
}

.resume-wrapper {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-button {
    width: 120px;
    padding: 13px;
    border: none;
    outline: none;
    background-color: #37BDCF;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.slider-container {
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 25px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.85);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.slider-ball {
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    margin: 2px 0;
}

.swipe-text {
    margin-top: 7px;
    color: white;
    font-size: 15px;
    animation: swiper 2s infinite;
}

@keyframes swiper {
    0%, 100% {
        opacity: 1;
        ;
    }

    50% {
        opacity: 0.35;
        ;
    }
}

@media only screen and (max-width: 1270px) {
    .titles h2 {
        font-size: 40px;
    }

    .titles h4 {
        font-size: 27px;
    }

    .name {
        font-size: 45px;
    }

    .typewriting {
        font-size: 35px;
    }

    .cursor {
        font-size: 40px;
    }
    .laptop-lottie {
        height: 500px;
        width: 500px;
    }
}

@media only screen and (max-width: 1090px) {
    .hero-container{
        margin: 0 3rem;
    }
    .titles h2 {
        font-size: 30px;
    }

    .titles h4 {
        font-size: 23px;
    }

    .name {
        font-size: 40px;
    }

    .typewriting {
        font-size: 30px;
    }

    .cursor {
        font-size: 38px;
    }

    .laptop-lottie {
        height: 450px;
        width: 450px;
    }

    .resume-button {
        width: 100px;
        padding: 10px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 930px) {
    .hero-container {
        flex-direction: column;
    }

    .titles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .titles h2 {
        font-size: 55px;
    }

    .titles h4 {
        font-size: 30px;
    }

    .name {
        font-size: 65px;
    }

    .typewriting {
        font-size: 47px;
    }

    .cursor {
        font-size: 55px;
    }

    .resume-button {
        width: 150px;
        padding: 17px;
        font-size: 22px;
    }

    .pictures{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
    }

    .laptop-lottie {
        height: 550px;
        width: 500px;
    }

    .slider-container{
        bottom: 3%;
    }
}

@media only screen and (max-width: 680px) {
    .titles h2 {
        font-size: 40px;
    }

    .titles h4 {
        font-size: 25px;
    }

    .name {
        font-size: 55px;
    }

    .typewriting {
        font-size: 35px;
    }

    .cursor {
        font-size: 40px;
    }

    .laptop-lottie {
        height: 450px;
        width: 450px;
    }

    .resume-button {
        width: 120px;
        padding: 15px;
        font-size: 18px;
    }
} 