.flippable-card-container {
  height: 500px;
  width: 300px;
  perspective: 1000px;
  position: absolute;
  left: 10%;
  top: 15%;
}

@media only screen and (max-width: 930px) {
  .flippable-card-container {
    left: 25%;
    top: 5%;
  }
}

@media only screen and (max-width: 660px) {
  .flippable-card-container {
    left: 20%;
    top: 5%;
  }
}