.flippable-card-container {
    height: 350px;
    width: 350px;
    perspective: 1000px;
}

.card {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    background: linear-gradient(#313131, #313131) padding-box,
        linear-gradient(to right, rgb(185, 185, 185), rgb(141, 141, 141)) border-box;
    border-radius: 50em;
    border: 10px solid transparent;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .0.5);
    overflow: hidden;
    border-radius: 50%;
}

.flip-text {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    animation: flipper 2s infinite;
    bottom: -10%;
}

.qrImage {
    position: absolute;
    width: 270px;
    height: 270px;
}

.card-front {
    background: url(../../../assets/images/profile-pic.png);
    background-size: 350px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .0.5);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.card-front::before, .card-back::before {
    content: '';
    position: absolute;
    background-color: rgba(218, 218, 218, 0.5);
    height: 400px;
    width: 60px;
    left: -100px;
    transform: skewX(-30deg);
}

.card-front:hover:before, .card-back:hover:before {
    animation: slide 1s;
    z-index: 1;
}

@keyframes slide {
    0%, 100% {
        left: -100px;
    }

    50% {
        left: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .flippable-card-container {
        height: 300px;
        width: 300px;
    }

    .card-front {
        background-size: 300px;
    }

    .qrImage {
        width: 240px;
        height: 240px;
    }

    .flip-text {
        width: auto;
        bottom: 33%;
        font-size: 15px;
        left: 35%;
    }

    .transform-flip {
        transform: rotateY(180deg);
        left: 25%;
    }
}

@media only screen and (max-width: 930px) {
    .flippable-card-container {
        height: 350px;
        width: 350px;
    }

    .card-front {
        background-size: 350px;
    }

    .qrImage {
        width: 240px;
        height: 240px;
    }

    .flip-text {
        width: auto;
        bottom: 23%;
        font-size: 15px;
        left: 45%;
    }

    .transform-flip {
        transform: rotateY(180deg);
        left: 33%;
    }
}

@media only screen and (max-width: 660px) {
    .flippable-card-container {
        height: 300px;
        width: 300px;
    }

    .card-front {
        background-size: 300px;
    }

    .qrImage {
        width: 250px;
        height: 250px;
    }

    .flip-text {
        width: auto;
        bottom: 23%;
        font-size: 15px;
        left: 32.5%;
    }
}

@media only screen and (max-width: 450px) {
    .flippable-card-container {
        height: 250px;
        width: 250px;
    }

    .card-front {
        background-size: 250px;
    }

    .qrImage {
        width: 220px;
        height: 220px;
    }

    .flip-text {
        width: auto;
        bottom: 23%;
        font-size: 12px;
        left: 32%;
    }
}

@media only screen and (max-width: 450px) {
    .flippable-card-container {
        height: 200px;
        width: 200px;
    }

    .card-front {
        background-size: 200px;
    }

    .qrImage {
        width: 170px;
        height: 170px;
    }
}

