.skills-section {
    background: linear-gradient(270deg, #050816 1.16%, #050816 53.16%, #050816 100%);
    font-family: 'Titillium Web', sans-serif;
    padding: 5rem;
    color: #fff;
}

.skills-title {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-title h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
}

.skills-techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dropdown-wrapper {
    display: flex;
    align-items: center;
}

.back-btn {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 10px;
    height: calc(30px + 2 * 0.5rem);
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.back-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.dragger {
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-size: 15px;
    animation: swiper 2s infinite;
}