.what-section {
    height: 100vh;
    background: linear-gradient(270deg, #161924 1.16%, #212329 53.16%, #28292c 100%);
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
}

.what-heading {
    color: #FFF;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    margin: 2rem 0 0 5rem;
}

.what-wrapper {
    display: flex;
    height: 100%;
}

.what-titles {
    flex: 1;
    align-self: center;
    margin-left: 7rem;
}

.what-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.lottie-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
}

.whatido-text {
    margin-top: 7px;
    color: white;
    font-size: 15px;
    text-align: center;
    animation: whatido 2s infinite;
}

@keyframes whatido {
    0%, 100% {
        opacity: 1;
        ;
    }

    50% {
        opacity: 0.35;
        ;
    }
}

.what-single-title {
    width: fit-content;
    font-size: 60px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    cursor: pointer;
    transition: background 1s ease-in-out;
}

.even-h2, .h2-0, .h2-2, .h2-4 {
    background: linear-gradient(-225deg, #14e0ff 0%, #1D8FE1 48%, #625EB1 100%);}

.odd-h2, .h2-1, .h2-3 {
    background: linear-gradient(270deg, #A5FA50 0%, #65E7A1 53.5%, #1EEED5 100%);
}

.even-h2, .odd-h2, .h2-0, .h2-1,
.h2-2, .h2-3, .h2-4 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px transparent;
}

.icon-blob {
    width: 100%;
    height: 800px;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23FF9A8B%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23FF6A88%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23ff99ac%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M625 716.5Q250 933 250 500t375-216.5q375 216.5 0 433Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M625 716.5Q250 933 250 500t375-216.5q375 216.5 0 433Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}