@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.hero-section {
    background: url('./assets/images/herobg.png') center/cover no-repeat;
}