.projects-wrapper {
    background: linear-gradient(270deg, #0e0f14 1.16%, #131416 53.16%, #121316 100%);
    font-family: 'Titillium Web', sans-serif;
    padding: 5rem;
    color: #fff;
}

.title-line {
    width: 75px;
    height: 5px;
    background: linear-gradient(270deg, #7C1BDE 8.83%, rgba(232, 68, 225, 0.85) 65.53%);
    margin: 0.75rem 0 0 4rem;
    border-radius: 20px;
}

.project-title {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
}

.project-title h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.gitButton button {
    background: linear-gradient(to right,  #65E7A1 0%, #1EEED5 53.5%, #A5FA50 100%);
    padding: 1rem 2.5rem;
    outline: none;
    border: none;
    text-align: center;
    background-size: 200% auto;
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    transition: 0.2s;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.gitButton button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}